**/rust/*/target/
**/cpp/*/CMakeCache.txt
**/cpp/*/CMakeFiles/
**/cpp/*/cmake_install.cmake
**/cpp/*/Makefile
**/cpp/*/aoc-*-*
*.user
build.ninja
.*
CMakeCache*
cmake_install.cmake
qtcsettings.cmake
CMakeFiles
*_autogen
*.exe
*.pdb
*.ilk
